.btn{
  display: block;
  width: 100%;
  font-size: 2.0rem;
  line-height: 1;
  padding: 1rem 0 ;
  margin: 0 auto;
  background-color: black;
  font-weight: 400;
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;


}